@font-face {
  font-family: "Gotham-Medium";

  src: url("../fonts/Gotham-Medium.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Gotham-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Bold";

  src: url("../fonts/Gotham-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Gotham-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Book";

  src: url("../fonts/Gotham-Book.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Gotham-Book.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Gotham-Book" !important;
}

/* theme_color */
:root {
  --theme_primary_color: #0a7be0;
}
/* theme color */

/* common_css */
.dashboard_wrapper {
  background-color: #f4f7fa;
  margin: 62px 0;
}
.text_clamp_1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
}
.text_clamp_2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
}
.btn_primary {
  font-size: 12px;
  background-color: var(--theme_primary_color);
  color: #fff;
  padding: 3px 5px;
  border: none;
  outline: none;
  border-radius: 2px;
}
.btn_secondary {
  font-size: 12px;
  background-color: #fff;
  color: var(--theme_primary_color);
  padding: 3px 5px;
  border: 0.5px solid var(--theme_primary_color);
  outline: none;
  border-radius: 2px;
}
.disabled_btn {
  opacity: 0.6;
}
.shortlist_color {
  color: #a27cf7 !important;
}
.applicant_color {
  color: #47a1dd !important;
}
.interview_color {
  color: #fb973d !important;
}
.finalist_color {
  color: #13d199 !important;
}
/* common css */

/* top navbar */
.top_navbar {
  display: flex;
  padding: 14px;
  align-items: center;
  box-shadow: 0px -1px 3px 0px #000;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  top: 0;
  transition: 0.3s top;
}
.top_navbar.topslide,
.jobdetail_topbar.topslide {
  top: -62px;
}
.second_nav_stick {
  position: fixed;
  top: 0;
  box-shadow: 0px -1px 3px 0px #000;
  width: 100%;
  z-index: 99;
  left: 0;
  min-height: 40px;
  padding: 14px 14px 0;
  background-color: #fff;
}
.top_navbar .nav_logo {
  width: fit-content;
}
.top_navbar .nav_logo span {
  font-size: 14px;
  font-family: "Gotham-Medium";
}
.top_navbar .nav_logo img {
  margin-right: 8px;
}
.top_navbar .nav_list {
  width: 45%;
}
.top_navbar .nav_list ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.notification {
  position: relative;
}
.notification.active::after {
  content: " ";
  position: absolute;
  top: 2px;
  right: 0;
  border: 0.5px solid #fff;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: var(--theme_primary_color);
}

/* assess */
.assess_icon_wrap,
.user_profile {
  height: 30px;
  position: relative;
  width: 30px;
}

.pieBackground {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.pie {
  transition: all 1s;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  clip: rect(0px, 15px, 30px, 0px);
}

.hold {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  clip: rect(0px, 30px, 30px, 15px);
}

#pieSlice1 .pie {
  background-color: #3cd991;
  transform: rotate(30deg);
}

#pieSlice2 {
  transform: rotate(30deg);
}

#pieSlice2 .pie {
  background-color: #ff5d5d;
  transform: rotate(60deg);
}

#pieSlice3 {
  transform: rotate(90deg);
}

#pieSlice3 .pie {
  background-color: #f4b000;
  transform: rotate(120deg);
}

#pieSliceprofile {
  background-color: #f4b000;
  transform: rotate(180deg);
}
.user_profile .innerCircle {
  border: 2px solid #d8d9e5;
}

.innerCircle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerCircle .content {
  position: absolute;
  display: block;
  width: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
}
/* top navbar */

/* bottom_navbar */
.bottom_nav {
  padding: 18px 5px;
  box-shadow: 0px 3px 6px 0px #000;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
  transition: 0.3s bottom;
}
.bottom_nav.bottom_slide {
  bottom: -65px;
}
.bottom_nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.bottom_nav li.active svg #TAL_Home {
  fill: var(--theme_primary_color);
}
.bottom_nav li {
  opacity: 0.4;
}
.bottom_nav li.active {
  opacity: 1;
}
/* bottom navbar */

/* jobs_list_wrap */
.jobs_list_wrap {
  padding: 14px;
}
.jobs_list_head {
  display: flex;
  align-items: center;
}
.jobs_list_head.second_nav_stick{
  padding-bottom: 14px;
}
.jobs_list_head h4 {
  font-size: 13px;
  text-transform: uppercase;
  color: #747588;
  font-family: "Gotham-Medium";
  margin: 0;
}
.filter_by {
  margin-left: auto;
  color: #747588;
  font-size: 12px;
}
.filter_by img {
  height: 12px;
}
/* jobs_list_wrap */

/* jobs_card */
.job_card_wrap {
  background-color: #fff;
  padding: 14px;
  border-radius: 2px;
  border: solid 1px #e0e2f0;
  margin-top: 14px;
}
.job_card_wrap:first-child {
  margin-top: 0;
}
.card_head h6 {
  color: #747588;
  font-size: 12px;
  margin: 0 0 5px;
}
.card_head h5 {
  color: #232333;
  font-size: 14px;
  font-family: "Gotham-Medium";
  margin: 0;
}
.job_card_wrap .hrs_tag {
  float: right;
  font-size: 12px;
  color: #4c5459;
}
.job_card_wrap .tag_info {
  color: #7e7f90;
  font-size: 12px;
  margin-right: 10px;
}
.job_card_wrap .tag_info:last-child {
  margin-right: 0;
}
.job_card_wrap .card_desc {
  font-size: 12px;
  color: #4c5459;
  margin: 0;
}
.job_card_wrap .match_tag {
  font-size: 12px;
  color: #13b377;
  font-family: "Gotham-Medium";
  margin-right: 10px;
}
.job_card_wrap .hotjob_tag {
  color: #ffa13c;
  font-family: "Gotham-Medium";
  font-size: 12px;
  margin-right: 10px;
}
.job_card_wrap .applied_tag {
  color: #9395a8;
  font-family: "Gotham-Medium";
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  line-height: 1;
}
.job_card_wrap .applied_tag img{
  height: 11px;
}
.job_card_wrap .contact_wrap {
  font-size: 12px;
  color: #9395a8;
}
.job_card_wrap .contact_wrap span {
  border-bottom: 1px dotted;
}
/* jobs_card */

/* quick_actions_wrap */
.quick_actions_wrap {
  padding: 14px;
}
.quick_actions_inner {
  background-color: #fff;
  padding: 14px;
  border-radius: 2px;
  border: solid 1px #e0e2f0;
}
.quick_actions_inner h4 {
  color: #232333;
  font-size: 14px;
  font-family: "Gotham-Medium";
}
.quick_actions_inner form {
  margin: 0;
}
.quick_actions_inner .form_group input {
  background-color: #f4f7fa;
  border: none;
  padding: 12px 10px;
  font-size: 13px;
  font-family: "Gotham-Medium";
  width: 100%;
  outline: none;
  color: #4c5459;
  border-radius: 4px;
}
.quick_actions_inner .form_group input::placeholder {
  color: #acaec1;
}
.quick_actions_inner button {
  font-size: 14px;
  font-family: "Gotham-Medium";
}
.quick_actions_inner .input_check_wrap {
  display: flex;
  align-items: center;
  background-color: #f4f7fa;
  border-radius: 4px;
}
.quick_actions_inner .input_check_wrap > input {
  width: 60%;
}
.quick_actions_inner .input_check_wrap > .checkbox_wrap {
  width: 45%;
}
.quick_actions_inner .checkbox_wrap label {
  font-size: 12px;
  margin-left: 2px;
  color: #4a4a4a;
  font-family: "Gotham-Book";
  margin-right: 4px;
}
.quick_actions_inner .checkbox_wrap .checkbox_wrap_img {
  width: 16px;
  height: 16px;
  background-image: url(../images/unchecked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: auto;
}
.quick_actions_inner .checkbox_wrap input:checked ~ .checkbox_wrap_img {
  width: 16px;
  height: 16px;
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.quick_actions_inner button img {
  height: 14px;
  margin-right: 5px;
  outline: none;
}
.quick_actions_list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
}
.quick_actions_list ul li {
  width: 25%;
}
.quick_actions_list ul li h5 {
  font-size: 18px;
  font-family: "Gotham-Bold";
  text-align: center;
  margin-bottom: 5px;
  color: var(--theme_primary_color);
}
.quick_actions_list ul li p {
  margin: 0;
  font-size: 12px;
  color: #747588;
  text-align: center;
}
/* quick_actions_wrap */

/* progress_wrap */
.progress_wrap {
  padding: 14px;
}
.progress_wrap_inner {
  background-color: #fff;
  padding: 14px;
  border-radius: 2px;
  border: solid 1px #e0e2f0;
  box-shadow: 0 -7px 21px 0 rgba(0, 0, 0, 0.03);
}
.progress_wrap_inner h4 {
  color: #232333;
  font-size: 13px;
  font-family: "Gotham-Medium";
  margin-bottom: 14px;
}
.progress_wrap_inner h4 > span {
  position: relative;
}
.progress_wrap_inner .carousel-indicators {
  top: -5px;
  right: -3px !important;
  margin: 0;
  width: fit-content;
  left: unset;
  height: fit-content;
  background-color: #fff;
}
.progress_wrap_inner .carousel .carousel-indicators li {
  background-color: #d8d8d8;
  opacity: 1 !important;
  height: 0.2rem !important;
  width: 1rem !important;
  border-radius: 2px !important;
}
.progress_wrap_inner .carousel .carousel-indicators li.active {
  background-color: var(--theme_primary_color);
  opacity: 1;
}
.progress_wrap {
  position: relative;
}
.progress_wrap::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  top: 0;
  right: 35%;
}
.progress_wrap.slided::before {
  right: 20%;
}
.progress_wrap_inner .meter_wrap {
  position: relative;
  height: 100px;
  width: 133px;
}
.progress_wrap_inner .meter_wrap > img {
  max-width: 100%;
}
.progress_wrap_inner .meter_wrap .needle {
  height: 50%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 15%;
  transform-origin: bottom center;
}
.progress_wrap_inner .meter_wrap .percNum {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px;
  background-color: #f1f2fb;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  text-align: center;
  padding: 11px 0;
  color: #4c5459;
  font-family: "Gotham-Bold";
}
.progress_wrap_inner .meter_wrap .zero_wrap {
  color: #e10c1d;
  font-size: 12px;
  font-family: "Gotham-Medium";
  position: absolute;
  left: 0;
  bottom: 0;
}
.progress_wrap_inner .meter_wrap .hundread_wrap {
  color: #008b00;
  font-size: 12px;
  font-family: "Gotham-Medium";
  position: absolute;
  right: 0;
  bottom: 0;
}
.progress_wrap_inner .profile_status_desc h5 {
  color: #747588;
  font-size: 12px;
  font-family: "Gotham-Medium";
}
.progress_wrap_inner .profile_status_desc p {
  color: #747588;
  font-size: 12px;
  margin-bottom: 10px;
}
.progress_wrap_inner .chart_legends_wrap ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.progress_wrap_inner .chart_legends_wrap ul li {
  font-size: 12px;
  color: #8a8b9b;
  margin-bottom: 5px;
}
.progress_wrap_inner .chart_legends_wrap ul li::before {
  content: "●";
  margin-right: 2px;
  font-size: 16px;
  line-height: 0;
}
.progress_wrap_inner .chart_legends_wrap ul li.pending::before {
  color: #ff5d5d;
}
.progress_wrap_inner .chart_legends_wrap ul li.completed::before {
  color: #3cd991;
}
.progress_wrap_inner .chart_legends_wrap ul li.inprogress::before {
  color: #f0be17;
}
.progress_wrap_inner .chart_legends_wrap ul li:last-child {
  margin-bottom: 0;
}
/* progress_wrap */

/* job_modal_view */
.job_modal_view {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 14px;
  background-color: #00000085;
  z-index: 999;
  display: none;
}
.job_modal_view_inner {
  position: fixed;
  top: 20%;
  padding: 14px;
  left: 0;
}
.close_job_modal {
  background-color: #fff;
  padding: 4px 6px;
  border: 1px solid #eaeaea;
  font-size: 22px;
  line-height: 16px;
  display: block;
  width: fit-content;
  margin-left: auto;
}
.job_contact_wrap h5 {
  margin-bottom: -3px;
  width: fit-content;
  border-bottom: 2px solid;
  padding-bottom: 6px;
  font-size: 12px;
}
.job_contact_wrap hr {
  width: 122%;
  left: 0;
  margin-left: -11%;
  margin-top: 2px;
}
.job_contact_wrap h3 {
  font-size: 14px;
  color: #232333;
  font-family: "Gotham-Medium";
  margin-bottom: 4px;
}
.job_contact_wrap p {
  color: #515468;
  font-size: 12px;
  margin-bottom: 8px;
}
.job_contact_wrap a {
  display: block;
  font-size: 12px;
  color: var(--theme_primary_color);
  margin-bottom: 3px;
}
.job_contact_wrap a span {
  margin-right: 4px;
}
/* job_modal_view */

/* side_menu_bar */
.side_menu_bar {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #00000085;
  z-index: 9999;
  display: none;
}
.side_menu_bar_inner {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  width: 75%;
  height: 100%;
  top: 0;
  right: -70%;
  transition: all 0.5s;
  overflow-y: auto;
}
.send_msg {
  position: absolute;
  background-color: #fff;
  width: 200px;
  top: 32px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.23);
  padding: 12px 15px;
  right: 0;
  display: none;
  z-index: 9;
}
.send_msg .close_popup {
  position: absolute;
  right: 8px;
  top: 8px;
  font-family: "Gotham-Book";
  font-size: 14px;
  color: #747588;
  cursor: pointer;
}
.send_msg p {
  color: #515468;
}
.send_msg::after {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  content: "";
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 9px;
}
.close_menu {
  position: absolute;
  right: 10%;
  top: 2%;
  font-size: 25px;
}
.side_menu_bar_inner.active {
  right: 0;
}
.side_menu_bar_inner .nav-item {
  padding: 20px 24px;
}
.side_menu_bar_inner .arrow_right {
  position: relative;
}
.side_menu_bar_inner .arrow_right::after {
  content: url(../images/right_arrow.svg);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10%;
}
.side_menu_bar_inner .arrow_right p {
  color: #515468;
  font-size: 16px;
  font-family: "Gotham-Medium";
  margin: 4px 0 0;
}
.side_menu_bar_inner .arrow_right small {
  color: #858795;
  font-size: 12px;
}
a.arrow_right {
  font-size: 14px;
  color: #515468;
  font-family: "Gotham-Medium";
}
.nav_light_text a {
  font-size: 12px;
  color: #515468;
}
.nav_light_text.powerd_by {
  font-size: 10px;
  align-items: center;
  color: #9395a8;
  text-align: right;
}
.status_check_wrap {
  display: flex;
  vertical-align: middle;
  font-size: 12px;
  border: 1px solid #dcdde5;
  padding: 5px 10px;
  border-radius: 30px;
  color: #acaec1;
  position: relative;
  max-width: 100%;
  margin-top: 10px;
  align-items: center;
}
.status_switch[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.status_switch:checked + label {
  background: #2cc83d;
}
.status_check_wrap label {
  margin: 4px auto;
}
.status_check_wrap label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 10px;
  background: #b3b3b3;
  display: block;
  border-radius: 100px;
  position: relative;
}
.status_check_wrap label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
  margin-left: 0 !important;
}
.status_switch:checked + label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}
.status_check_wrap .current_status {
  color: #515468;
  font-family: "Gotham-Medium";
}
.status_check_wrap .info_popup {
  cursor: pointer;
}
.powerd_by span img {
  max-width: 55%;
}
/* side_menu_bar */

/* notifications_wrapper */
.notifications_wrapper {
  background-color: #f4f7fa;
  padding-top: 67px;
  height: 100%;
}
.notification_header {
  padding: 14px;
  background-color: #ffffff;
  box-shadow: 0px -1px 3px 0px #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.notification_header h5 {
  color: #515468;
  margin-bottom: 2px;
  font-size: 16px;
}
.notification_header p {
  margin: 0;
  color: var(--theme_primary_color);
  font-size: 12px;
}
.notification_header .mark_read {
  color: #747588;
  font-size: 12px;
  border: 1px solid #acaec1;
  border-radius: 4px;
  background-color: transparent;
}
.notifications_list {
  padding: 14px;
  overflow-y: auto;
}
.notification_wrap {
  background-color: #fff;
  padding: 14px;
  border-radius: 2px;
  border: solid 1px #e0e2f0;
  margin-bottom: 12px;
  position: relative;
}
.notification_wrap.notread::after {
  content: "●";
  color: var(--theme_primary_color);
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 10px;
}
.notification_wrap:last-child {
  margin-bottom: 0;
}
.notification_wrap h5 {
  color: #747588;
  font-size: 14px;
  font-family: "Gotham-Medium";
  margin-bottom: 4px;
}
.notification_wrap.notread h5 {
  color: #232333;
  font-family: "Gotham-Bold";
}
.notification_wrap p {
  color: #515468;
  font-size: 12px;
  margin-bottom: 10px;
}
.notification_wrap .time_tag {
  color: #4c5459;
  font-size: 12px;
}
/* notifications_wrapper */

/* search page css */
.search_wrapper {
  padding: 63px 0 67px;
  min-height: 100%;
}
.search_wrapper .quick_actions_wrap {
  padding: 0;
}
.search_wrapper .quick_actions_wrap .quick_actions_inner {
  border: none;
  border-bottom: 1px solid #e0e2f0;
}
/* search page css end */

/* search results page start */
.searchresults_wrapper {
  padding: 63px 0 67px;
  min-height: 100%;
  background-color: #f4f7fa;
}
.searchwords {
  padding: 14px;
  border-bottom: 1px solid #e0e2f0;
  background-color: #fff;
}
.searchwords p {
  font-size: 12px;
  color: #4c5459;
}
.filter_by_wrap {
  padding: 14px;
  background-color: #fff;
  border-bottom: 1px solid #e0e2f0;
}
.filter_by_wrap p {
  color: #acaec1;
  font-size: 12px;
  font-family: "Gotham-Medium";
  text-transform: uppercase;
}
.filter_by_wrap .filter_by {
  color: #acaec1;
  font-size: 12px;
  width: fit-content;
}
/* search results page end */

/* edit search page starts */
.edit_search_wrapper {
  padding: 63px 0 67px;
  min-height: 100%;
  background-color: #f4f7fa;
}
.edit_search_wrapper .quick_actions_wrap {
  padding: 0;
}
.edit_search_wrapper .quick_actions_wrap .quick_actions_inner {
  border: none;
  border-bottom: 1px solid #e0e2f0;
}
.job_skills_wrap {
  background-color: #f4f7fa;
  display: flex;
  position: relative;
}
.skills_tags {
  width: 50%;
  padding: 14px 0 14px 14px;
}
.skills_tags > span {
  font-size: 11px;
  margin-right: 2px;
  color: #232333;
  font-family: "Gotham-Medium";
  line-height: 18px;
  display: inline-flex;
  align-items: center;
}
.skills_tags span > span {
  font-size: 14px;
  font-family: "Gotham-Book";
  margin-left: 7px;
  line-height: 7px;
}
.job_skills_wrap input {
  width: 50% !important;
}
.job_skills_wrap .edit_input {
  position: absolute;
  right: 15px;
  top: 35%;
}
.reset_btn {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  padding: 0;
  margin: 14px auto;
  color: #acaec1;
  display: block;
  text-transform: uppercase;
  font-size: 12px !important;
}
.close_editsearch {
  font-size: 25px;
  line-height: normal;
}
/* edit search page ends */

/* myjobs page starts */
.myjobs_wrapper {
  padding: 63px 0 67px;
  min-height: 100%;
  background-color: #f4f7fa;
}
.myjobs_nav {
  background-color: #fff;
  z-index: 999;
  width: 100%;
  padding-right: 10px;
}
.myjobs_nav ul {
  padding: 6px 7px 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow-y: auto;
}
.myjobs_nav ul::-webkit-scrollbar {
  display: none;
}
.myjobs_nav ul li {
  padding-bottom: 6px;
  color: #acaec1;
  font-size: 14px;
  font-family: "Gotham-Medium";
  margin: 0 12px;
}
.myjobs_nav ul li.active {
  color: #4c5459;
  border-bottom: 3px solid var(--theme_primary_color);
}
.delete_btn {
  background-color: transparent;
  border: 1px solid #acaec1;
  padding: 4px 5px;
  margin-right: 4px;
  border-radius: 3px;
}
.no_data_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}
.no_data_wrap h4 {
  color: #acaec1;
  font-size: 18px;
  font-family: "Gotham-Medium";
  margin-top: 14px;
  line-height: 26px;
}
.applied_tag {
  color: #02ba5a !important;
  font-family: "Gotham-Book" !important;
}
.applied_tag > span {
  margin-right: 2px !important;
}
.interview_det h4 {
  font-size: 12px;
  font-family: "Gotham-Medium";
  padding-bottom: 4px;
}
.interview_det p {
  color: #979c9f;
  font-size: 10px;
  text-transform: uppercase;
}
.interview_det h4.confirm_interview {
  color: #02ba5a;
}
.start_btn {
  background-color: #02ba5a;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 3px;
}
.interview_det h4.scheduled_interview {
  color: var(--theme_primary_color);
}
.interview_det h4.cancel_interview {
  color: #d94545;
}
.confirm_btn {
  background-color: var(--theme_primary_color);
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 3px;
}
.rejected_tag {
  color: #dd4040;
  font-family: "Gotham-Medium";
  font-size: 11px;
  display: flex;
  align-items: center;
  line-height: 1;
}
.rejected_tag img{
  margin-right: 4px;
  height: 11px;
}
/*  myjobs page ends */

/* job details starts */
.jobdetails_wrapper {
  padding: 62px 0 38px;
  min-height: 100%;
  background-color: #f4f7fa;
}
.jobdetails_wrapper .tabs_content{
  padding: 0;
}
.jobdetail_topbar {
  padding: 14px;
  border-bottom: 1px solid #e0e2f0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99;
  transition: 0.3s top;
}
.jobdetail_topbar p {
  margin: 0;
  color: #515468;
  font-size: 12px;
}
.jobdetail_topbar h4 {
  margin: 0;
  color: #232333;
  font-size: 14px;
  font-family: "Gotham-Medium";
}
.jobdetail_topbar a {
  padding-right: 5px;
}
.jobdetail_topbar a:last-child {
  padding: 0;
}
.job_tags {
  padding: 14px;
  background-color: #fff;
  border-bottom: 1px solid #e0e2f0;
}
.job_tags span {
  font-size: 12px;
  font-family: "Gotham-Medium" !important;
  padding-right: 4px;
}
.job_tags span.match_tag {
  color: #13b377;
}
.job_tags span.hotjob_tag {
  color: #ffa13c;
}
.job_tags span.applied_tag {
  color: #9395a8 !important;
}
.job_tags p {
  color: #747588;
  font-size: 12px;
  text-align: right;
}
.job_tags span:last-child {
  padding-right: 0;
}
.job_locdet {
  padding: 14px;
  background-color: #fff;
  border-bottom: 1px solid #e0e2f0;
}
.job_locdet p span {
  font-size: 12px;
  color: #232333;
  font-family: "Gotham-Medium";
}
.job_locdet .matching_job_details span {
  font-size: 12px;
  color: #232333;
  font-family: "Gotham-Medium";
}
.job_locdet .matching_job_sub_details span {
  font-size: 12px;
  color: #515468;
  font-family: "Gotham-Book";
}
.job_matchdet {
  padding: 14px;
  background-color: #fff;
}
.job_matchdet span {
  font-size: 12px;
  color: #515468;
  font-family: "Gotham-Book";
}
.job_contact {
  padding: 14px;
  background-color: #f9fbff;
}
.job_contact h5 {
  color: #232333;
  margin: 0;
  font-size: 14px;
  font-family: "Gotham-Medium";
}
.job_contact h5 span {
  color: #515468;
  font-size: 12px;
  font-family: "Gotham-Book";
}
.job_contact p {
  color: #515468;
  font-size: 12px;
}
.jobdet_menu {
  padding: 0 14px;
  background-color: #fff;
  box-shadow: 0px 6px 16px -17px #000;
}
.jobdet_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.jobdet_menu li {
  padding: 8px 0 0;
  margin-right: 20px;
}
/* .jobdet_menu li.active {
  border-bottom: 3px solid var(--theme_primary_color);
  padding-bottom: 6px;
} */
.jobdet_menu li a {
  color: #acaec1;
  font-size: 12px;
  font-family: "Gotham-Medium";
}
.jobdet_menu li.active a {
  color: #4c5459;
}
.jobdet_details {
  margin: 14px;
}
.jobdet_details_wrap {
  background-color: #ffffff;
  box-shadow: 0px 2px 16px -15px #000;
  border-radius: 4px;
  margin-top: 14px;
}
.jobdet_details_wrap:first-child {
  margin-top: 0;
}
.jobdet_details_wrap .padding_standard {
  padding: 14px;
}
.jobdet_details_wrap h4 {
  font-size: 12px;
  font-family: "gotham-Medium";
  color: #acaec1;
  margin-bottom: 10px;
}
.profile_video {
  position: relative;
  width: fit-content;
}
.profile_video span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile_video_wrap {
  display: flex;
  overflow-y: auto;
}
.profile_video_wrap::-webkit-scrollbar {
  display: none;
}
.profile_video {
  position: relative;
  width: fit-content;
  margin-right: 10px;
}
.jobdet_details_wrap p {
  color: #515468;
  font-size: 12px;
}
.jobdet_details_wrap ul {
  padding-left: 20px;
  margin: 0;
  color: #515468;
  font-size: 12px;
}
.jobdet_details_wrap li {
  padding-bottom: 6px;
}
.jobdet_details_wrap li:last-child {
  padding-bottom: 0;
}
.det_pref h4 {
  padding: 14px 14px 6px;
}
.det_pref p {
  padding: 0 14px 8px;
  border-bottom: 1px solid #e0e2f0;
  color: #515468;
  font-size: 13px;
  font-family: "Gotham-Medium";
}
.det_pref p span {
  color: #969c9f;
  font-size: 12px;
  font-family: "Gotham-Book";
}
.det_pref p:last-child {
  border: none;
  margin-bottom: 0;
}
.det_pref span img {
  height: 13px;
}
.job_locdet p {
  display: block !important;
  line-height: 20px;
}
.fixed_btn {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 12px;
  font-size: 16px;
  font-family: "Gotham-Medium";
  z-index: 99;
  border-radius: 0;
}
#timeline_wrap.jobdet_details_wrap {
  padding: 14px;
}
.job_timeline_wrap {
  padding-left: 30px;
  margin-left: 5px;
  border-left: 3px solid #e0e2f0;
  padding: 5px 0 5px 30px;
}
.job_timeline_step {
  display: flex;
  align-items: center;
  box-shadow: -4px 0px 18px 1px rgba(218, 221, 225, 0.58);
  border: solid 1px #eaeaea;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}
.job_timeline_step::before {
  content: " ";
  height: 10px;
  width: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: -37px;
  border: 2px solid #fff;
  background-color: #0a7be0;
  top: 12px;
}
.job_timeline_step .job_timeline_date {
  padding: 10px 15px;
  border-right: 1px solid #eaeaea;
}
.job_timeline_step small {
  display: flex;
  width: max-content;
}
.job_timeline_step .job_timeline_date p {
  font-size: 16px;
  font-family: "Gotham-Medium";
  margin: 0;
}
.shortlisted_color p {
  color: #a77ffe;
}
.applied_color p {
  color: #4fb5f9;
}
.interview_color p {
  color: #fb973d;
}
.finalist_color p {
  color: #13d199;
}
.hire_color p {
  color: #5ad155;
}
.job_timeline_step small {
  font-size: 12px;
  color: #747588;
}
.job_timeline_step h5 {
  margin: 0 0 -4px;
  font-size: 14px;
  font-family: "Gotham-Medium";
  color: #4c5459;
}
.job_timeline_step::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;
  position: absolute;
  left: -6px;
  top: 10px;
}
.job_timeline_step > .w-100 {
  padding: 0 15px;
  text-align: left;
}
.job_timeline_step > .w-100 > small {
  padding-top: 4px;
}
.job_timeline_step:last-child {
  margin-bottom: 0 !important;
}
#interview_wrap h4 {
  padding: 14px 14px 0;
}
.assess_report {
  font-size: 12px;
  text-align: center;
  font-family: "Gotham-Medium";
  border-right: 1px solid #e0e2f0;
  padding: 10px;
  border-top: 1px solid #e0e2f0;
  border-bottom: 1px solid #e0e2f0;
  color: var(--theme_primary_color);
}
.assess_report > span {
  display: block;
  margin-bottom: 6px;
}
.assess_report img {
  height: 16px;
}
.assess_report:last-child {
  border-right: none;
}
.interview_history {
  padding: 14px;
  border: 1px solid #e0e2f0;
  border-radius: 2px;
  margin-bottom: 14px;
}
.interview_history h5 {
  font-size: 12px;
  color: #4c5459;
}
.interview_history h5 span {
  font-size: 12px;
  color: var(--theme_primary_color);
  font-family: "Gotham-Medium";
}
.interview_history h6 {
  color: #747588;
  font-size: 12px;
}
.interview_history h3 {
  color: #4c5459;
  font-size: 12px;
  font-family: "Gotham-Medium";
}
.interview_history p {
  color: #7a7c88;
  font-size: 12px;
  margin-bottom: 0;
}
/* job details ends */

/* login page starts */
.login_inner_wrap {
  height: fit-content;
  padding: 4rem 14px;
}
.login_inner_wrap input {
  width: 100%;
  background-color: #f4f7fa;
  border: 1px solid #f6f6f6;
  padding: 4px 8px;
  outline: none;
  font-size: 14px;
  color: #232333;
}
.login_inner_wrap label {
  font-size: 10px;
  color: #747588;
}
.login_inner_wrap h4 {
  color: #232333;
  font-size: 20px;
  font-family: "Gotham-Medium";
}
.see_password {
  position: absolute;
  right: 5%;
  top: 60%;
}
.login_inner_wrap #rememberMe:checked ~ .checkbox_wrap_img {
  background-image: url(../images/noun_Checkbox_1126732.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.login_inner_wrap #rememberMe ~ .checkbox_wrap_img {
  width: 16px;
  height: 16px;
  background-image: url(../images/noun_Checkbox_1126732_1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.login_inner_wrap .checkbox_wrap {
  display: flex;
}
.login_inner_wrap button {
  width: 100%;
  font-size: 14px;
  padding: 10px 12px;
  margin-top: 10px;
}
.login_inner_wrap .forget_paswrd {
  color: #747588;
  font-size: 12px;
  text-align: center;
  display: block;
  margin-top: 10px;
}
/* login page ends */

/* my resume page starts  */
.myresume_wrapper {
  padding: 48px 0;
  min-height: 100%;
  background-color: #f4f7fa;
}
.tab_content_wrap.active {
  max-height: 100%;
  overflow-y: auto;
}
.tab_content_wrap.active::-webkit-scrollbar {
  display: none;
}
.myresume_nav {
  padding: 10px 14px;
  border-bottom: 1px solid #e0e2f0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99;
  transition: 0.3s top;
}
.myresume_nav.topslide {
  top: -62px;
}
.myresume_nav > .row {
  width: 100%;
}
.myresume_nav h5 {
  margin: 0;
  font-size: 16px;
  color: #515468;
}
.profile_reset_btn {
  font-size: 14px;
  color: #969b9e;
  background-color: transparent;
  border: 1px solid #969b9e;
  border-radius: 2px;
  padding: 2px 12px;
}
.autofill_wrap {
  background-color: #f9fbff;
  padding: 14px;
}
.autofill_wrap h5 {
  font-size: 12px;
  font-family: "Gotham-Medium";
  color: var(--theme_primary_color);
}
.resume_tab_list ul {
  background-color: #fff;
  z-index: 99;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 10px 14px 0;
  margin: 0;
}
.resume_tab_list ul::-webkit-scrollbar {
  display: none;
}
.resume_tab_list ul li {
  padding-right: 24px;
}
.resume_tab_list ul li:last-child {
  padding-right: 0;
}
.resume_tab_list ul li:last-child a {
  margin-right: 14px;
}
.resume_tab_list ul li a {
  font-size: 12px;
  color: #acaec1;
  font-family: "Gotham-Medium";
  padding-bottom: 10px;
  display: block;
  width: max-content;
  text-transform: capitalize;
}
.resume_tab_list ul li.active a {
  color: #515468;
  border-bottom: 3px solid var(--theme_primary_color);
}
.tik_mark.active svg g#Candidate-Profile-Blank {
  fill: #73c82c;
}
.tabs_content {
  padding: 14px;
}
.tabs_content h4 {
  color: #232333;
  font-size: 12px;
  font-family: "Gotham-Medium";
  text-transform: uppercase;
}
.tabs_content .tab_content_inner {
  background-color: #ffffff;
  padding: 14px;
  border-radius: 2px;
}
.form_group label {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: "Gotham-Medium";
  color: #747588;
}
.myresume_wrapper .form_group input, .myresume_wrapper .form_group select, .myresume_wrapper .form_group textarea{
  font-size: 13px;
}
.form_group input,
.form_group select,
.form_group textarea {
  background-color: #fff;
  border: 1px solid #9b9fa273;
  padding: 8px 12px;
  font-size: 14px;
  width: 100%;
  outline: none;
  border-radius: 2px;
}
.form_group input::placeholder,
.form_group textarea::placeholder {
  color: #acaec1 !important;
}
.form_group select {
  padding: 8px 10px;
}
.form_group textarea {
  resize: none;
}
.form_group.radio_btn .radio_group input ~ label .radio_check_wrap {
  content: url(../images/oval_radio.svg);
  margin-right: 4px;
}
.form_group.radio_btn .radio_group input:checked ~ label .radio_check_wrap {
  content: url(../images/checked_radio.svg);
}
.form_group .radio_group label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 8px;
}
.form_group .radio_group:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.form_group.radio_btn p {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: "Gotham-Medium";
  color: #747588;
}
.form_group .radio_group label {
  font-family: "Gotham-Book";
  font-size: 14px;
  margin-bottom: 0;
}
.tab_content_desc {
  font-size: 12px;
  font-family: "Gotham-Book";
  color: #747588;
}
.myresume_btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.myresume_btn > .btn_primary {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: "Gotham-Medium";
  border-radius: 0;
}
.form_group .yesNo::after {
  content: "No";
  position: absolute;
  top: 10px;
  right: -15px;
}
.form_group .status_switch:checked ~ .yesNo::after {
  content: "Yes";
}
.form_check_css {
  border: none;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 0;
}
.form_check_css label {
  width: 40px;
  height: 18px;
  background-color: #d2d3e1;
}
.form_check_css.status_check_wrap label:after {
  top: 2px;
  width: 13px;
  height: 13px;
}
.form_group.required label::after {
  content: "*";
  color: var(--theme_primary_color);
  margin-left: 5px;
}
.form_group.calendaricon::before {
  content: url(../images/calendar_icon.svg);
  position: absolute;
  right: 11px;
  top: 68%;
}
.form_group.locationicon::before {
  content: url(../images/locationmap_icon.svg);
  position: absolute;
  right: 11px;
  top: 68%;
}
.form_group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form_group.select_wrap::before {
  content: url(../images/dropdown_arrow.png);
  position: absolute;
  right: 11px;
  top: 75%;
}
.form_group.select_wrap.sociallinks::before {
  content: url(../images/dropdown_arrow.png);
  position: absolute;
  right: 11px;
  top: 20%;
}
.form_group.addicon::before {
  content: url(../images/plus_icon.svg);
  position: absolute;
  right: 11px;
  top: 70%;
}
.addcontent_btn{
  background-color: transparent;
}
/* my resume page ends  */

/* myprofile page starts */
.myprofile_wrapper {
  padding: 48px 0;
  min-height: 100%;
  background-color: #f4f7fa;
}
.myprofile_wrapper .myresume_nav {
  padding: 14px;
}
.myprofile_wrapper .myresume_nav h5 {
  color: #232333;
  font-family: "Gotham-Medium";
}
.myprofile_wrapper .myresume_nav h5 span {
  color: #747588;
  font-family: "Gotham-Book";
  font-size: 12px;
}
.myprofile_wrapper .tabs_content {
  padding: 0;
}
.myprofile_wrapper h4 {
  padding: 14px;
  margin-bottom: 0;
  margin-top: 10px;
}
.profile_inner_wrap {
  background-color: #fff;
}
.profile_details_wrap {
  padding: 14px;
  display: flex;
}
.profile_pic_wrap img {
  width: 60px;
}
.profile_name_wrap {
  padding-left: 5px;
}
.profile_name_wrap h3 {
  color: #232333;
  font-size: 16px;
  font-family: "Gotham-Medium";
  margin-bottom: 2px;
}
.profile_name_wrap p {
  color: #232333;
  font-size: 14px;
  margin-bottom: 2px;
}
.profile_name_wrap h6 {
  color: #0bac28;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}
.profile_exp_det {
  text-align: right;
  margin-left: auto;
}
.profile_exp_det p {
  font-size: 14px;
  color: #4c5459;
  text-align: right;
  margin-bottom: 2px;
}
.profile_exp_det h6 {
  color: #94989b;
  font-size: 14px;
}
.profile_vdo_wrap {
  position: relative;
}
.profile_vdo_wrap img {
  max-width: 100%;
}
.profile_vdo_wrap span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile_social_wrap {
  padding: 14px;
  border-bottom: 1px solid #e7e7e7;
}
.profile_social_wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.profile_det_wrap {
  padding: 16px 14px;
  border-bottom: 1px solid #e7e7e7;
}
.profile_det_wrap h5 {
  color: #acaec1;
  font-size: 14px;
  font-family: "Gotham-Medium";
  margin-bottom: 20px;
}
.profile_det_wrap .det_attr {
  margin: 0;
  font-size: 12px;
  color: #8a8b9b;
  text-transform: uppercase;
}
.profile_det_wrap .det_val {
  margin: 0;
  font-size: 14px;
  color: #232333;
  font-family: "Gotham-Medium";
  padding-right: 5px;
}
.extra_one {
  font-size: 12px;
  color: #acaec1;
  font-family: "Gotham-Book";
  padding: 2px 5px 2px 3px;
  border: 1px solid;
  border-radius: 3px;
  margin-left: 4px;
  position: relative;
  cursor: pointer;
}
.extra_tooltip {
  position: absolute;
  width: 170px;
  left: -92px;
  top: 18px;
  background-color: #fff;
  padding: 5px 10px 2px 15px;
  box-shadow: 0 -5px 6px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px #e7e3ce;
  z-index: 99;
  color: #515468;
  font-size: 14px;
  font-family: "Gotham-Medium";
  display: none;
}
.extra_tooltip.show {
  display: block !important;
}
.extra_tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  left: 57%;
  top: -5px;
}
.extra_tooltip_close {
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 3px;
}
.vdo_assess_wrap {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 0;
}
.vdo_assess_wrap:first-child {
  padding-top: 0 !important;
}
.vdo_assess_wrap:last-child {
  padding-bottom: 0 !important;
  border-bottom: none;
}
.profile_vdo_ass h5 {
  margin-bottom: 0;
}
.profile_vdo_ass h3 {
  color: #232333;
  font-size: 14px;
  font-family: "Gotham-Medium";
  margin-bottom: 2px;
}
.profile_vdo_ass h6 {
  color: #232333;
  font-size: 12px;
  margin-bottom: 2px;
}
.profile_vdo_ass p {
  color: #747588;
  font-size: 12px;
  margin-bottom: 0;
}
.certi-icon {
  padding: 0;
  list-style: none;
  display: block;
  width: 100%;
}
.certi-icon li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}
.certi-icon li img {
  max-width: 70px;
  max-height: 48px;
  margin-bottom: 5px;
}
.course_btn {
  background-color: #8a8b9b;
  color: #fff;
  font-size: 14px;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  outline: none;
  margin-right: 4px;
}
.resume_pic_wrap {
  padding: 14px;
  border: 1px solid #efefef;
  border-radius: 4px;
}
.resume_pic_wrap img {
  max-width: 100%;
}
.download_resume_btn {
  display: block;
  margin-left: auto;
  margin: 20px 0 0 auto;
}
.text_list li {
  font-size: 12px;
  color: #515468;
  margin-bottom: 8px;
  line-height: 20px;
}
.current_proj h4 {
  color: #232333;
  font-size: 16px;
  text-transform: none;
  padding: 0;
  margin-bottom: 12px;
}
.current_proj h4 span {
  font-size: 14px;
  font-family: "Gotham-Book";
}
.current_proj h5 {
  font-size: 14px;
  color: #232333;
  margin-bottom: 5px;
}
.current_proj h6 {
  margin-bottom: 0;
  color: #515468;
  font-size: 12px;
}
.current_proj p {
  color: #747588;
  font-size: 12px;
  margin: 0;
}
.current_proj > .row {
  padding-bottom: 15px;
}
.current_proj > .row:last-child {
  padding-bottom: 0 !important;
}
.work_exp_wrap {
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 0;
}
.work_exp_wrap:last-child {
  border: none;
  padding-bottom: 0;
}
.work_exp_wrap h4 {
  color: #232333;
  font-size: 16px;
  text-transform: none;
  padding: 0;
  margin-bottom: 4px;
}
.work_exp_wrap h5 {
  color: #232333;
  font-size: 12px;
  font-family: "Gotham-Book";
  margin-bottom: 4px;
}
.work_exp_wrap h6 {
  font-size: 12px;
  color: #747588;
  margin-bottom: 0;
}
.work_exp_wrap p {
  color: #94989b;
  font-size: 12px;
  margin-bottom: 0;
}
.work_pref_wrap {
  padding: 10px;
  border: 1px solid #dcdde5;
  border-radius: 2px;
  text-align: center;
  height: 100%;
}
.work_pref_wrap h6 {
  color: #232333;
  font-size: 14px;
  font-family: "Gotham-Medium";
  margin-bottom: 4px;
  margin-top: 10px;
}
.work_pref_wrap p {
  color: #747588;
  font-size: 12px;
  margin-bottom: 0;
}
.edu_wrap {
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 0;
}
.edu_wrap:first-child {
  padding-top: 0 !important;
}
.edu_wrap:last-child {
  padding-bottom: 0 !important;
  border-bottom: 0 !important;
}
.edu_wrap h4 {
  font-size: 16px;
  font-family: "Gotham-Medium";
  color: #232333;
  margin-bottom: 8px;
  text-transform: none;
  padding: 0;
  margin-top: 0;
}
.edu_wrap h5 {
  color: #515468;
  font-family: "Gotham-Medium";
  font-size: 14px;
  margin-bottom: 5px;
}
.edu_wrap h6 {
  color: #515468;
  font-size: 12px;
  font-family: "Gotham-Book";
  margin-bottom: 8px;
}
.edu_wrap p {
  color: #4c5459;
  font-size: 12px;
  margin-bottom: 0;
}
.edu_wrap p > span {
  color: #4c5459;
  font-size: 12px;
  float: right;
}
.edu_wrap p > span > span {
  font-size: 12px;
  color: #acaec1;
}
.ref_wrap {
  border-bottom: 1px solid #e7e7e7;
  padding: 20px 0;
}
.ref_wrap:first-child {
  padding-top: 0 !important;
}
.ref_wrap:last-child {
  padding-bottom: 0 !important;
  border: none;
}
.ref_wrap h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  text-transform: none;
  font-size: 16px;
}
.ref_wrap h5 {
  font-size: 14px;
  font-family: "Gotham-Book";
  color: #515468;
  margin-bottom: 6px;
}
.ref_wrap h6 {
  font-size: 12px;
  color: #515468;
  margin-bottom: 6px;
}
.ref_wrap p {
  color: #515468;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0;
  padding-top: 20px;
  position: relative;
}
.ref_wrap p::before {
  content: url("../images/quote_icon.svg");
  position: absolute;
  top: 10px;
}
.bottom_button {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
}
.bottom_button button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-family: "Gotham-Medium";
  border-radius: 0;
}
/* myprofile page ends */

/* assessment page starts */
.assessment_wrapper {
  padding: 48px 0 0;
  min-height: 100%;
  background-color: #f4f7fa;
}
.assessment_nav {
  padding: 14px;
  border-bottom: 1px solid #e0e2f0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99;
  transition: 0.3s top;
}
.assessment_nav.topslide {
  top: -62px;
}
.assessment_nav h5 {
  margin: 0;
  color: #515468;
  padding-left: 14px;
  font-size: 16px;
}
.assessment_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.assessment_tab_list {
  padding: 14px 14px 8px;
  background-color: #fff;
  border-bottom: 1px solid #e0e2f0;
}
.assessment_tab_list ul {
  display: flex;
  list-style: none;
}
.assessment_tab_list li {
  margin-right: 28px;
}
.assessment_tab_list li:last-child {
  margin-right: 0;
}
.assessment_tab_list li a {
  font-size: 12px;
  font-family: "Gotham-Medium";
  padding-bottom: 11px;
  color: #acaec1;
}
.assessment_tab_list li.active a {
  color: #515468;
  border-bottom: 3px solid var(--theme_primary_color);
}
.assess_tab_content {
  padding: 14px;
}
.assess_item {
  background-color: #fff;
  padding: 14px;
  border: 1px solid #e0e2f0;
  border-radius: 3px;
  margin-bottom: 14px;
}
.assess_item:last-child {
  margin-bottom: 0;
}
.assess_item h4 {
  font-size: 14px;
  font-family: "Gotham-Medium";
  margin-bottom: 8px;
}
.assess_item span {
  font-size: 12px;
  color: #515468;
}
.assess_item p {
  margin: 0;
  font-size: 12px;
  font-family: "Gotham-Medium";
}
.assess_item p.completed {
  color: #13b377;
}
.assess_item p.pending {
  color: #ffa13c;
}
.assess_item p.expired {
  color: #f25832;
}
.perc_wrap {
  margin-left: auto;
  background-color: #13b377;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  display: grid;
  align-items: center;
  font-size: 14px;
  font-family: "Gotham-Medium";
}
.assess_item .scheduled_assess {
  font-size: 12px;
  font-family: "Gotham-Medium";
  color: #747588;
  margin-bottom: 0;
}
.search_assess {
  padding: 14px;
  background-color: #fff;
  border-bottom: 1px solid #e0e2f0;
  position: relative;
}
.search_assess input {
  width: 100%;
  background-color: #f4f7fa;
  border: 1px solid #f6f6f6;
  padding: 8px 10px 8px 30px;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
}
.search_assess::before {
  content: url("../images/search_icon_grey.svg");
  position: absolute;
  left: 21px;
  top: 39%;
}
/* assessment page ends */

/* add certificate starts */
.addcertificate_wrapper {
  padding: 60px 0;
  min-height: 100%;
  background-color: #f4f7fa;
}
.addcertificate_nav {
  padding: 14px;
  border-bottom: 1px solid #e0e2f0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99;
  transition: 0.3s top;
}
.addcertificate_nav h5 {
  margin: 0;
  color: #515468;
  font-size: 16px;
}
.addcertificate_nav a {
  margin-left: auto;
  color: #515468;
  font-size: 25px;
  font-family: "Gotham-Book";
  line-height: normal;
}
.certificate_detail_wrapper {
  padding: 14px;
}
.certificate_inner_wrap {
  background-color: #ffffff;
  padding: 14px;
  border-radius: 2px;
  border: 1px solid #e0e2f0;
}
.certificate_detail_wrapper h4 {
  font-size: 12px;
  font-family: "Gotham-Medium";
  text-transform: uppercase;
  margin-bottom: 14px;
}
.certicate_info_wrap {
  background-color: #ffffff;
  padding: 14px;
  border-radius: 2px;
  border: 1px solid #e0e2f0;
  border-top: 0;
}
.certicate_info_wrap {
  color: #747588;
  font-size: 12px;
  margin: 0;
}
.selectlogo {
  padding: 14px;
  border: 1px solid #9b9fa273;
  border-radius: 2px;
  position: relative;
}
.selectlogo img {
  width: 50px;
}
.selectlogo::after {
  content: url(../images/dropdown_arrow.png);
  position: absolute;
  top: 50%;
  right: 20px;
}
.selectlogo.active::after {
  transform: rotate(180deg);
}
.form_group small {
  color: #acaec1;
  font-size: 12px;
}
.selectlogo.active .logos_container {
  display: block;
}
.logos_container {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 0px 18px -9px #000;
  z-index: 99;
  display: none;
}
.logos_container .col-3 {
  text-align: center;
  padding: 10px;
  border-right: 1px solid #eaebf1;
  border-bottom: 1px solid #eaebf1;
}
/* add certificate ends */

/* add skills page */
.addskills_wrapper .search_assess {
  margin-top: 0;
}
.addskills_wrapper .search_assess input {
  padding: 8px 10px;
}
.addskills_wrapper .search_assess::before {
  content: none;
}
.check_btn input ~ label .radio_check_wrap {
  content: url(../images/unchecked.svg);
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.check_btn input:checked ~ label .radio_check_wrap {
  content: url(../images/checked.svg);
}
.list_skills {
  padding: 14px;
}
.list_skills_inner {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e0e2f0;
}
.list_skills_inner ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list_skills_inner ul li {
  padding: 14px 10px;
  border-bottom: 1px solid #e0e2f0;
}
.list_skills_inner ul li:last-child {
  border: none;
}
.list_skills_inner ul li label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: #515468;
  font-size: 14px;
  font-family: "Gotham-Medium";
  line-height: 1;
}
.list_skills_inner ul li label .radio_check_wrap {
  margin-right: 10px;
}
/* add skills page */

/* feedback page starts */
.feedback_form_wrap {
  padding: 14px;
}
.feedback_form_wrap .feedback_inner_wrap {
  background-color: #ffffff;
  padding: 14px;
  border-radius: 2px;
  border: 1px solid #e0e2f0;
  margin-bottom: 14px;
}
.rating_stars img {
  height: 24px;
}
/* feedback page ends */

/* settings page starts */
.settings_form_wrap {
  padding: 14px;
}
.settings_form_wrap .settings_inner_wrap {
  background-color: #ffffff;
  padding: 14px;
  border-radius: 2px;
  border: 1px solid #e0e2f0;
  margin-bottom: 14px;
}
.settings_inner_wrap input {
  position: absolute;
}
/* settings page ends */

/* modal - popup starts */
.carousel-indicators li.active {
  background-color: var(--theme_primary_color);
}
.carousel-indicators li {
  background-color: #d8d8d8;
}
.modal-title {
  font-size: 16px;
  color: var(--theme_primary_color);
  font-family: "Gotham-Bold";
}
.modal-header {
  padding: 14px;
}
.modal-dialog{
  top: 50%;
  transform: translate(0, -50%) !important;
}
.modal-body {
  padding: 14px 14px 30px;
}
.modal-header p {
  color: #232333;
  font-family: "Gotham-Medium";
  font-size: 14px;
}
#autofill_modal .carousel-inner {
  padding: 14px;
  border: 1px solid #e0e2f0;
}
.carousel-indicators {
  bottom: -30px;
  margin: 0;
}
.upld_again {
  font-size: 12px;
  background-color: transparent;
  color: #8a8b9b;
  padding: 3px 5px;
  border: 1px solid #dee0f2;
  outline: none;
  border-radius: 2px;
}
.autofill_banner {
  padding: 14px;
  background-color: #f7f5f5;
}
.autofill_banner {
  padding: 14px;
  background-color: #f7f5f5;
}
.autofill_desc {
  padding: 14px;
}
.autofill_desc h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Gotham-Bold";
  color: #ff8225;
}
.autofill_desc h4 span {
  color: #ff5e1e;
}
.autofill_desc p {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Gotham-Medium";
  color: #4c5459;
}
.autofill_desc p span {
  font-family: "Gotham-Book";
}
/* modal - popup ends */

/* filter page start */
.fitler_wrapper {
  padding: 60px 0;
  min-height: 100%;
}
.filter_nav {
  padding: 14px;
  border-bottom: 1px solid #e0e2f0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 99;
  transition: 0.3s top;
}
.filter_nav a {
  color: #515468;
  font-size: 25px;
  font-family: "Gotham-Book";
  line-height: normal;
}
.filter_nav h5 {
  margin: 0;
  font-size: 16px;
  color: #4a545a;
  padding-left: 10px;
}
.filter_nav .reset_btn {
  margin: 0;
  border: none;
  font-family: "Gotham-Medium";
}
.filter_inner_wrap form p {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: "Gotham-Medium";
  color: #747588;
}
.filter_inner_wrap .form_group.select_wrap::before {
  top: 47%;
}
.form_group.yrs_tag::before {
  content: "yr";
  position: absolute;
  right: 5px;
  top: 54%;
  z-index: 99;
  font-size: 12px;
  font-family: "Gotham-Medium";
  color: #acaec1;
}
.tag_location {
  border-radius: 1px;
  border: 1px solid #9b9fa27a;
  background-color: #ffffff;
  padding: 4px 8px;
}
.tag_location span {
  color: #232333;
  font-size: 11px;
  font-family: "Gotham-Medium";
  margin-right: 5px;
}
.tag_location input {
  border: none;
  outline: none;
  width: 75px;
  padding: 4px 0;
}
.pay_info {
  background-color: #fdf8e7;
  padding: 10px;
  box-shadow: 0px 0px 10px 0 #a5a5a5;
  z-index: 99;
  position: absolute;
  display: none;
}
.pay_info p {
  color: #536269 !important;
  font-family: "Gotham-Book" !important;
}
.pay_info p span {
  color: var(--theme_primary_color);
}
.pay_info button {
  margin-left: auto;
  display: block;
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-family: "Gotham-Medium";
  color: var(--theme_primary_color);
}
.pay_info::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fdf8e7;
  position: absolute;
  top: -5px;
  right: 5%;
}
/* filter page ends */

/* job detail shortlist page starts */
.shortlist_tag {
  width: 100%;
  display: flex;
  align-items: center;
}
.shortlist_tag p {
  font-size: 12px;
  font-family: "Gotham-Medium";
  color: #02ba5a;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.shortlist_tag p img {
  max-width: 100%;
  height: 12px;
  margin-right: 4px;
}
.shortlist_tag h6 {
  margin-left: auto;
  font-size: 11px;
  color: #747588;
  margin-bottom: 0;
}
/* job detail shortlist page ends */

/* job detail applied page starts */
.assess_wrap_applied {
  background-color: #fff;
}
.assess_wrap_applied p {
  color: #0a7be0;
  font-size: 12px;
  font-family: "Gotham-Medium";
  margin: 10px 0 0;
}
.assess_wrap_applied .asses_in {
  border-right: 1px solid #e0e2f0;
  border-bottom: 1px solid #e0e2f0;
  padding: 14px;
}
/* job detail applied page ends */

/* job detail interview page starts */
.start_interview {
  background-color: #02ba5a;
  border: none;
  color: #fff;
}
.start_interview.disabled {
  background-color: #92ddb7;
}
.scheduled_tag p {
  color: #0a7be0 !important;
}
/* job detail interview page ends */

/* job detail rejected page starts */
.reject_tag p {
  color: #dd4040;
}
/* job detail rejected page ends */

/* my resume uploaded cv page start */
.uploaded_cv .profile_reset_btn {
  font-size: 12px !important;
  padding: 3px 5px !important;
}
.uploaded_cv h5 {
  color: #232333;
}
/* my resume uploaded cv page ends */

/* my resume uploaded cv page starts */
.certification_wrap_img > div {
  background-color: #8a8b9b;
  display: inline;
  color: #fff;
  padding: 4px 12px;
  border-radius: 3px;
  font-size: 14px;
}
.cv_wrap_filled {
  max-width: 85%;
  padding: 14px;
  border: 1px solid #efefef;
  border-radius: 4px;
}
.cv_wrap_filled img {
  max-width: 100%;
}
.tags_wrap {
  border-radius: 1px;
  border: solid 1px #9b9fa269;
  padding: 4px 10px;
}
.tags_wrap span {
  color: #232333;
  font-size: 12px;
  font-family: "Gotham-Medium";
  margin-right: 4px;
}
.tags_wrap input {
  border: none;
  font-size: 12px;
  font-family: "Gotham-Medium";
  color: #232333;
  outline: none;
  width: 100px;
}
::-webkit-calendar-picker-indicator {
  display: none;
}
.tags_wrap span::after {
  content: "x";
  color: #acaec1;
  font-size: 12px;
  margin-left: 3px;
  cursor: pointer;
  font-family: "Gotham-Book";
}
/* my resume uploaded cv page ends */

/* no matching jobs page starts */
.no_matching_jobs {
  padding: 14px 30px;
  text-align: center;
  background-color: #ffffff;
  margin-top: 10px;
}
.no_matching_jobs h4 {
  font-size: 16px;
  font-family: "Gotham-Medium";
  color: #acaec1;
  margin-bottom: 10px;
}
.no_matching_jobs p {
  margin-bottom: 10px;
  color: #4a545a;
  font-size: 12px;
}
.no_matching_jobs button {
  background-color: transparent;
}
.gotit_popup {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  padding: 14px;
  font-size: 12px;
  font-family: "Gotham-Book";
  color: #515468;
  width: 200px;
  text-align: center;
  box-shadow: 0 0 10px 0 #9c9c9c;
  top: 16px;
  right: -97px;
  display: none;
}
.gotit_popup::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -5px;
  right: 47%;
}
/* no matching jobs page ends */

/* confirm interview page starts */
.confirm_interview_wrapper {
  padding: 60px 0 38px;
  min-height: 100%;
  background-color: #f4f7fa;
}
.confirm_in_nav {
  display: flex;
  padding: 14px;
  align-items: center;
  box-shadow: 0px -1px 3px 0px #000;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  top: 0;
  transition: 0.3s top;
}
.confirm_in_nav h5 {
  margin: 0;
  color: #515468;
  font-size: 16px;
}
.confirm_in_nav a {
  margin-left: auto;
  color: #515468;
  font-size: 25px;
  font-family: "Gotham-Book";
  line-height: normal;
}
.confirm_interview_main_wrap {
  padding: 14px;
}
.confirm_in_form {
  background-color: #ffffff;
  padding: 14px;
  border-radius: 2px;
  border: 1px solid #e0e2f0;
}
.confirm_in_form .form_group > p {
  color: #747588;
  font-size: 12px;
  font-family: "Gotham-Medium";
  margin-bottom: 14px;
}
.confirm_in_form .form_group label {
  margin-bottom: 0;
}
.date_radio {
  padding: 4px 10px;
  border: 1px solid #dcdde5;
  text-align: center;
  border-radius: 3px;
  width: 54px;
  margin-bottom: 10px;
}
.date_radio p {
  font-size: 12px;
  color: #acaec1;
  font-family: "Gotham-Book";
  margin-bottom: 4px;
  text-transform: uppercase;
}
.date_radio p:last-child {
  margin-bottom: 0;
}
.date_radio h4 {
  margin-bottom: 4px;
  font-size: 16px;
  color: #232333;
  font-family: "Gotham-Medium";
}
.radio_btn_date .radio_date input:checked ~ label .date_radio{
  background-color: var(--theme_primary_color);
}
.radio_btn_date .radio_date input:checked ~ label .date_radio p, .radio_btn_date .radio_date input:checked ~ label .date_radio h4{
  color: #fff;
}
.time_radio{
  border: 1px solid #dcdde5;
  padding: 4px 10px;
  border-radius: 30px;
  font-size: 12px;
  color: #4a4a4a;
  font-family: "Gotham-Book";
  margin-bottom: 10px;
}
.radio_time input:checked ~ label .time_radio{
  background-color: var(--theme_primary_color);
  color: #fff;
  border: 1px solid var(--theme_primary_color);
}
.confirm_in_form .form_group h5{
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Gotham-Medium";
  color: #232333;
}
.confirm_in_form small{
  color: #acaec1;
  font-size: 12px;
}
/* confirm interview page ends */


/* add country code page starts */
.list_country_code{
  color: #515468;
  font-size: 14px;
  font-family: "Gotham-Medium";
}
/* add country code page ends */
